@import url(../../vendor/normalize.css);

@font-face {
    font-family: "Inter-Regular";
    src: local("Inter-Regular")
         url(../../fonts/Inter-3.19/Inter\ Web/Inter-Regular.woff2) format("woff2"),
         url(../../fonts/Inter-3.19/Inter\ Web/Inter-Regular.woff) format("woff"),
}

@font-face {
    font-family: "Inter-Black";
    src: local("Inter-Black")
         url(../../fonts/Inter-3.19/Inter\ Web/Inter-Black.woff2) format("woff2"),
         url(../../fonts/Inter-3.19/Inter\ Web/Inter-Black.woff) format("woff"),
}

@font-face {
    font-family: "Inter-Bold";
    src: local("Inter-Bold")
         url(../../fonts/Inter-3.19/Inter\ Web/Inter-Bold.woff2) format("woff2"),
         url(../../fonts/Inter-3.19/Inter\ Web/Inter-Bold.woff) format("woff"),
}

.page {
    margin: 0 auto;
    background-color: #2A2C2F;
    max-width: 1280px;
    outline: 1px red solid;
    
}

.header {
    max-width: calc(100% - 96px);
    height: 52px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.header__logo {
    height: 52px;
    width: 176px;
}
.header__links {
    margin-top: 18px;
}
.header__lang-link {
    color: white;
    text-decoration: none;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.header__lang-link:first-of-type {
    text-decoration: underline;
    margin-right: 18px;
}

.header__lang-link:last-of-type {
    width: 29px;
    height: 28px;
}
@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
    .header {
        max-width: calc(100% - 96px)
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
    .header {
        max-width: calc(100% - 48px)
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
    }
    .header {
        max-width: calc(100% - 32px);
        height: 42px;
    }
    .header__lang-link {
        font-size: 18px;
    }
    .header__logo {
        width: 142px;
        height: 42px;
    }
    .header__links {
        margin-top: 14px;
    }
}